@model TestDataTables.Models.ForgotPasswordViewModel

<div class="log-in-wrapper">
    <h1 class="log-in-title">Forgot Password<br><small>Enter your email address below to get reset</small></h1>
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", placeholder = "Please enter your email address..." })
        </div>
        <input type="submit" class="btn btn-transparent btn-lg btn-transparent-primary btn-block" value="Send me a link" />

        <ul class="login-bottom-links">
            <li><a href="@Url.Action("Login")">Remembered it now?</a></li>
        </ul>
    }
</div>
