<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>VarelloAdmin</title>
    <link rel="stylesheet" href="~/Template/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Template/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Template/css/typicons.min.css">
    <link rel="stylesheet" href="~/Template/css/varello-theme.min.css">
    <link rel="stylesheet" href="~/Template/css/varello-skins.min.css">
    <link rel="stylesheet" href="~/Template/css/animate.min.css">
    <link rel="stylesheet" href="~/Template/css/icheck-all-skins.css">
    <link rel="stylesheet" href="~/Template/css/icheck-skins/flat/_all.css">
    <link href='https://fonts.googleapis.com/css?family=Hind+Vadodara:400,500,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="apple-touch-icon" sizes="57x57" href="~/Template/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Template/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Template/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Template/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Template/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Template/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Template/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Template/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Template/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Template/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Template/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Template/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Template/favicon-16x16.png">
    <link rel="manifest" href="~/Template/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="notifications top-right"></div>
    <div class="wrapper">
        <div class="page-wrapper">
            <div id="login-hidden" style="display: none;">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/Template/js/Chart.min.js"></script>
    <script src="~/Template/js/jquery-1.12.3.min.js"></script>
    <script src="~/Template/js/bootstrap.min.js"></script>
    <script src="~/Template/js/jquery.piety.min.js"></script>
    <script src="~/Template/js/varello-theme.js"></script>
    <script src="~/Template/js/icheck.min.js"></script>
    <script src="~/Template/js/dropdown.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
